<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cognifyz.com</title>
    <script>
        const register = document.querySelectorAll("#register-btn")
        const login = document.querySelectorAll("#login-btn")

        
    </script>
</head>
<body >
    
    <div style=" display: flex; align-items: center;background-color: blue; height: 100px; width: 100%; margin-right: 50px;">
        <h1 style="width: 100%; padding-left: 30px; color: white;" >Cognifyz</h1>
        <div style="width: 200px; flex:display; flex-direction: column; justify-content: space-evenly;">
            <button id="register-btn" style="   height:30px; width: 70px;">Register</button>
            <button id="login-btn" style=" height: 30px; width:70px;" >Login</button>
        </div>
        <form action="">
            
        </form>
    </div>
</body>
</html>