<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Receiving Status</title>
    <style>
        body {
            background-color: #0056b3;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        #outer-box {
            background: white;
            color: #0056b3;
            border-radius: 50px;
            text-align: center;
            width: 800px;
            height: 300px;
        }

        h1 {
            padding-top: 60px;
        }
    </style>
</head>
<body>
<div id="outer-box">
    <h1>We received your Application <br> Thank you <%= name %>! <br>For Showing interest in our Organization.</h1>
</div>
</body>
</html>
